@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300');

.siteContainer {
    width: 100%;
    padding: 80px 20px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .02em;

    * {
      box-sizing: border-box;
    }
    
    h1, h2, h3, h4 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      letter-spacing: -.01em;
      color: #333;
    }
    
    p {
      color: #aaa;
    }
}