@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import '../../globals';

* {
	box-sizing: border-box;
	
	&::selection {
		background: $main;
		color: $alt;
	}

	&::-webkit-scrollbar { 
		display: none; 
	}
}

html,
body {
	margin: 0;
}

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

.siteContainer {
    width: 100%;
    padding: 110px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	letter-spacing: 1.2px;
	-webkit-overflow-scrolling: touch;
	
	@include break('tablet-l') {
		padding: 150px 0 0;
	}
    
    h1, h2, h3, h4 {
      	font-family: 'Montserrat', sans-serif;
      	font-weight: 700;
      	letter-spacing: -.01em;
    }
}