@import '../../globals';

.slider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 110px;
    overflow: hidden;

    @include break('tablet-l') {
        padding-top: 150px;
    }
    
    .flickity {
        overflow: hidden;
        
        &:focus {
            outline: none;
        }
    }
}