@import '../../../globals';

.headerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 2;
    background-color: $alt;

    @include break('tablet-l') {
        padding: 50px 60px;
    }
}