// Mixins
$breakpoints: (
  'tablet-p':  ( min-width:  768px ),
  'tablet-l': ( min-width:  1024px ),
  'laptop':  ( min-width: 1200px ),
  'desktop':  ( min-width: 1600px )
) !default;

@mixin break($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
   
    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

//  Variables
$main: #1e1d1c;
$alt: #ffffff;
$highlight: red;
$grad1: #43cea2;
$grad2: #185a9d;