@import '../../globals';

.progressBar {
    position: fixed;
    top: 107px;
    left: 0;
    height: 4px;
    background: #43cea2;
    background: linear-gradient(45deg, #185a9d, #43cea2);
    z-index: 5;

    @include break('tablet-l') {
        top: 151px;
    }
}