@import '../../../globals';

.slide {
    width: 100vw;
    height: calc(100vh - 110px);
    position: relative;
    overflow: hidden;

    .tilt {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        padding-top: 20vh;
        transform-style: preserve-3d;

        @include break('tablet-l') {
            padding-top: 0;
            align-items: flex-end;
            padding-bottom: 20vh;
        }
    }
    
    .slideInner {
        max-width: 1200px;
        padding: 0;
        position: relative;
        z-index: 2;
        transform: translateZ(20px);

        @include break('tablet-l') {
            padding: 0 60px;
        }

        h3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            letter-spacing: 1.2px;
            font-size: 12px;
            margin: 0;
            color: $alt;
            background: rgba($main, .9);
            padding: 5px 25px;
            display: inline-block;

            @include break('tablet-l') {
                font-size: 14px;
            }
        }

        h2 {
            font-size: 50px;
            margin: 0;
            color: $alt;
            background: rgba($main, .9);
            padding: 0 25px 7px;

            @include break('tablet-l') {
                font-size: 75px;
            }
        }

        a {
            float: left;
            font-size: 16px;
            color: $main;
            text-decoration: none;
            color: $alt;
            background: rgba($main, .9);
            padding: 5px 25px 10px;
            
            @include break('tablet-l') {
                float: right;
                font-size: 18px;
                padding: 5px 25px;
                margin-top: 10px;
            }
        }
    }
}